@font-face {
    font-family: DOSfont;
    src: url(MorePerfectDOSVGA.ttf);
  }


.terminal {
    --font: DOSfont;
    --size: 1.5;
    background-color: #0000aa;
    color: #8b8baa;
    padding-left: 40px;
    /* padding-right: 80px; */
    padding-bottom: 40px;}

.body{
    padding-right: 80px;
}

 /* .terminal {
    overflow: hidden !important;
    height: 100% !important;
  }
      
.terminal .terminal-output {
    overflow: hidden !important;
    max-height: 100% !important;
} */

/* .cmd {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
    left: 10px;
    width: auto !important;
} */
