@font-face {
    font-family: DOSfont;
    src: url(MorePerfectDOSVGA.ttf);
  }

body{
  background-color: #0000aa;
}
.terminal {
    --font: DOSfont;
    /* font-size: 1; */
    --size: 1.5;
    background-color: #0000aa;
    color: #8b8baa;
    padding-left: 5vw;
    /* padding-right: 80px; */
    padding-bottom: 5vw;}

.terminal,
.terminal-output,
.cmd,
.cmd span,
.terminal .terminal-output div {
    background-color: #0000aa !important;
}


